#fcMcqDisplayContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
}

#fcMcqQuestion {
    resize: none;
    word-wrap: break-word;
}

#fcMcqAnsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 68%;
    max-height: 68%;
    overflow: auto;
}