#fcQaDisplayContainer {
    display: flex;
    flex-direction: column;
}

#fcQaQuestions {
    resize: none;
    word-wrap: break-word;
}

#fcQaAnswers {
    resize: none;
    word-wrap: break-word;
}

#fcQaSource {
    resize: none;
    word-wrap: break-word;
}