#fcToolbarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fcSource {
  width: 100%;
}

#fcToolbarInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
